@{ Layout = "~/Views/Shared/_Libraries.cshtml"; }

<div class="wrapper">
    <section class="login-content">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-12">
                    <div class="row align-items-center">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

