<div class="iq-sidebar  sidebar-default ">
    <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
        <a href="/" class="header-logo">
            <img src="/assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
            <img src="/assets/images/logo-white.png" class="img-fluid rounded-normal darkmode-logo" alt="logo">
        </a>
        <div class="iq-menu-bt-sidebar">
            <i class="las la-bars wrapper-menu"></i>
        </div>
    </div>
    <div class="data-scrollbar" data-scroll="1">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class=" ">
                    <a href="#Overview" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-home"></i><span>Overview</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Overview" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class="active">
                            <a href="/home/Dashboards">
                                <i class="las ri-clapperboard-line"></i><span>Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#Menu" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-mobile iq-arrow-left"></i><span>Menu Management</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Menu" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/Products/Index">
                                <i class="lab la-rocketchat"></i><span>Products</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/ProductType/Index">
                                <i class="las la-check-double"></i><span>Product Type</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/MealType/Index">
                                <i class="las la-user-tie"></i><span>Meal Type</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Categories/Index">
                                <i class="las la-user-tie"></i><span>Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#Blogging" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-chart-pie iq-arrow-left"></i><span>Blogging</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Blogging" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/blogs/Index">
                                <i class="las la-tools"></i><span>Blog Master</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class=" ">
                    <a href="#Transactions" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-chart-pie iq-arrow-left"></i><span>Transactions</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Transactions" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/Transactions/Billing">
                                <i class="las la-tools"></i><span>Billing</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Transactions/Payment">
                                <i class="las la-tools"></i><span>Payment</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Transactions/Refunded">
                                <i class="las la-tools"></i><span>Refunded</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Logistics/Index">
                                <i class="las la-tools"></i><span>Logistics</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class=" ">
                    <a href="#Presales" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-chart-pie iq-arrow-left"></i><span>Presales</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Presales" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/Presales/WhishList">
                                <i class="las la-tools"></i><span>WhishList</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Presales/Enquiries">
                                <i class="las la-tools"></i><span>Enquiries</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class=" ">
                    <a href="#People" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-chart-pie iq-arrow-left"></i><span>People</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="People" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/Customers/Index">
                                <i class="las la-tools"></i><span>Customers</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Employees/Index">
                                <i class="las la-tools"></i><span>Employees</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Designation/Index">
                                <i class="las la-tools"></i><span>Designation</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/RoleMap/Index">
                                <i class="las la-tools"></i><span>Role Map</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/LoginMap/Index">
                                <i class="las la-tools"></i><span>Login Map</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Address/Index">
                                <i class="las la-tools"></i><span>Address</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/BlockUser/Index">
                                <i class="las la-tools"></i><span>Block User</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Contacts/Index">
                                <i class="las la-tools"></i><span>Contacts</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class=" ">
                    <a href="#Templates" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="lab la-uikit iq-arrow-left"></i><span>Templates</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Templates" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/PushTemplates/Index">
                                <i class="las la-user-tie"></i><span>Push Templates</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/SmsTemplates/Index">
                                <i class="las la-exclamation-triangle"></i><span>SMS Templates</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/EmailTemplates/Index">
                                <i class="las la-id-badge"></i><span>Email Templates</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#Settings" class="collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="las la-network-wired iq-arrow-left"></i><span>Settings</span>
                        <i class="las la-angle-right iq-arrow-right arrow-active"></i>
                        <i class="las la-angle-down iq-arrow-right arrow-hover"></i>
                    </a>
                    <ul id="Settings" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class=" ">
                            <a href="/SmtpServers/Index">
                                <i class="las la-smile"></i><span>Smtp Servers</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/SmsGateways/Index">
                                <i class="las la-seedling"></i><span>Sms Gateways</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/SenderMaster/Index">
                                <i class="las la-seedling"></i><span>Sender Master</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/ReleaseNotes/Index">
                                <i class="las la-toolbox"></i><span>Release Notes</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/Sources/Index">
                                <i class="las la-toolbox"></i><span>Sources</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/PaymentType/Index">
                                <i class="las la-toolbox"></i><span>Payment Type</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/StatusCode/Index">
                                <i class="las la-toolbox"></i><span>Status Code</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div id="sidebar-bottom" class="position-relative sidebar-bottom">
            <div class="card bg-primary rounded">
                <div class="card-body">
                    <div class="sidebarbottom-content">
                        <div class="image"><img src="/assets/images/layouts/side-bkg.png" class="img-fluid" alt="side-bkg"></div>
                        <h5 class="mb-3 text-white mt-3">Did you Know ?</h5>
                        <p class="mb-0 text-white">You can add additional gateway and server in Settings.</p>
                        <a href="/ReleaseNotes/Releases" class="btn bg-light  mt-3"><i class="fas fa-plus-square"></i>Fixes &amp; Release</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3"></div>
    </div>
</div>
